In [47]:
import pandas as pd
import numpy as np

In [48]:
df1=pd.read_csv("C:\\Users\\Hello\\Desktop\\Dataset\\hyd.csv")

In [49]:
df1

         city
0         hyd
1         che
2      bhopal
3  vizayawada
4    hydrabad
5       vizag
6      guntur

In [50]:
df1["Hyd"].mean()

KeyError: 'Hyd'

In [51]:
from sklearn.impute import SimpleImputer

In [52]:
si=SimpleImputer(strategy='median',add_indicator=True)

In [53]:
si.fit(df1[["Hyd"]])

KeyError: "None of [Index(['Hyd'], dtype='object')] are in the [columns]"

In [54]:
si.fit(df1[["Hyd"]])

KeyError: "None of [Index(['Hyd'], dtype='object')] are in the [columns]"

In [55]:
si.transform(df1[["Hyd"]])

KeyError: "None of [Index(['Hyd'], dtype='object')] are in the [columns]"

In [56]:
dfcity=pd.read_csv("C:\\Users\\Hello\\Desktop\\Dataset\\jjjgfsd.csv")

In [57]:
dfcity.isna().sum()

city    0
dtype: int64

In [58]:
dfcity.value_counts()

city
hyd           2
vizag         2
bhopal        1
chennai       1
guntur        1
hydrabad      1
noida         1
vizayawada    1
dtype: int64

In [59]:
dfcity=dfcity.replace("chennai",np.nan)

In [60]:
dfcity

         city
0         hyd
1      bhopal
2  vizayawada
3    hydrabad
4       vizag
5      guntur
6       noida
7         NaN
8       vizag
9         hyd

In [61]:
from sklearn.impute import SimpleImputer

In [69]:
sicat=SimpleImputer(strategy="most_frequent",add_indicator=True)

In [70]:
sicat.fit(dfcity[["city"]])

SimpleImputer(add_indicator=True, strategy='most_frequent')

In [73]:
res=sicat.transform(dfcity[["city"]])

In [76]:
res[0][1]

False

In [77]:
len(res)

10

In [81]:
list1=[]
for i in range(len(res)):
    if res[i][1]==True:
     list1.append(res[i][1])

In [82]:
list1

[True]

In [83]:
si2=SimpleImputer(strategy="constant",add_indicator=True)

In [84]:
si2.fit(df1[["city"]])

SimpleImputer(add_indicator=True, strategy='constant')

In [86]:
si2.transform(df1[["city"]])

array([['hyd'],
       ['che'],
       ['bhopal'],
       ['vizayawada'],
       ['hydrabad'],
       ['vizag'],
       ['guntur']], dtype=object)

In [89]:
df1["city"]=df1["city"].replace("bhopal",np.NaN)

In [90]:
df1["city"].isna().sum()

1

In [91]:
si3=SimpleImputer(strategy="constant",add_indicator=True)

In [92]:
si3.fit(df1[["city"]])

SimpleImputer(add_indicator=True, strategy='constant')

In [94]:
si3.transform(df1[["city"]])

array([['hyd', False],
       ['che', False],
       ['missing_value', True],
       ['vizayawada', False],
       ['hydrabad', False],
       ['vizag', False],
       ['guntur', False]], dtype=object)