In [1]:
import pandas as pd
import numpy as np

In [2]:
dfwh=pd.read_csv("C:\\Users\\Hello\\Desktop\\Dataset\\weight-height.csv")

In [3]:
dfwh

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [4]:
m=dfwh["Height"].mean()

In [5]:
m

66.3675597548656

In [6]:
sd=dfwh["Height"].std()

In [7]:
sd

3.847528120795573

In [8]:
lower=m-3*sd

In [9]:
lower

54.824975392478876

In [10]:
upper=m+3*sd

In [11]:
upper

77.91014411725232

In [12]:
dfwh=dfwh[(dfwh["Height"]>=lower)&(dfwh["Height"]<=upper)]

In [13]:
dfwh

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[9993 rows x 3 columns]

In [14]:
dfgen=pd.get_dummies(dfwh["Gender"],drop_first=True)

In [15]:
dfgen

      Male
0        1
1        1
2        1
3        1
4        1
...    ...
9995     0
9996     0
9997     0
9998     0
9999     0

[9993 rows x 1 columns]

In [16]:
dfwh

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[9993 rows x 3 columns]

In [17]:
pd.concat([dfwh,dfgen],axis=1)

      Gender     Height      Weight  Male
0       Male  73.847017  241.893563     1
1       Male  68.781904  162.310473     1
2       Male  74.110105  212.740856     1
3       Male  71.730978  220.042470     1
4       Male  69.881796  206.349801     1
...      ...        ...         ...   ...
9995  Female  66.172652  136.777454     0
9996  Female  67.067155  170.867906     0
9997  Female  63.867992  128.475319     0
9998  Female  69.034243  163.852461     0
9999  Female  61.944246  113.649103     0

[9993 rows x 4 columns]

In [18]:
pd.concat([dfwh,dfgen],axis=1).drop("Gender",axis=1)

         Height      Weight  Male
0     73.847017  241.893563     1
1     68.781904  162.310473     1
2     74.110105  212.740856     1
3     71.730978  220.042470     1
4     69.881796  206.349801     1
...         ...         ...   ...
9995  66.172652  136.777454     0
9996  67.067155  170.867906     0
9997  63.867992  128.475319     0
9998  69.034243  163.852461     0
9999  61.944246  113.649103     0

[9993 rows x 3 columns]

In [19]:
X=dfwh.drop("Weight",axis=1)

In [20]:
X.shape

(9993, 2)

In [21]:
type(X)

pandas.core.frame.DataFrame

In [22]:
y=dfwh["Weight"]

In [23]:
y

0       241.893563
1       162.310473
2       212.740856
3       220.042470
4       206.349801
           ...
9995    136.777454
9996    170.867906
9997    128.475319
9998    163.852461
9999    113.649103
Name: Weight, Length: 9993, dtype: float64

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
Xtrain,Xtest,ytrain,ytest=train_test_split ( X,y,test_size=0.20)

Xtrain.shape

In [26]:
Xtrain.shape

(7994, 2)

In [27]:
ytrain.shape

(7994,)

In [28]:
Xtest.shape

(1999, 2)

In [29]:
ytest.shape

(1999,)

In [30]:
from sklearn.linear_model import LinearRegression

In [33]:
lreg=LinearRegression()

In [36]:
lreg.fit(Xtrain,ytrain)

ValueError: could not convert string to float: 'Male'