In [6]:
import pandas as pd
import numpy as np

In [7]:
df1=pd.read_csv("C:\\Users\\Hello\\Desktop\\Dataset\\social.csv")

In [8]:
df1

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [9]:
df1.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [10]:
df1.drop("User ID",axis=1,inplace=True)

In [11]:
df1

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

In [12]:
df1=df1.drop("Gender",axis=1)

In [13]:
df1

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [14]:
X=df1[["Age","EstimatedSalary"]]

In [15]:
X

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [16]:
y=df1[["Purchased"]]

In [17]:
y

     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

In [18]:
##splitting of data

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
Xtrain,Xtest,ytrain,ytest=train_test_split(X,y,test_size=0.20)

In [21]:
Xtrain.shape

(320, 2)

In [22]:
Xtest.shape

(80, 2)

In [23]:
ytrain.shape

(320, 1)

In [24]:
ytest.shape

(80, 1)

In [25]:
from sklearn.linear_model import LogisticRegression

In [26]:
logreg=LogisticRegression()

In [27]:
logreg

LogisticRegression()

In [28]:
logreg.fit(Xtrain,ytrain)

E:\python\MSSQL15.MSSQLSERVER\anaconda\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()

In [29]:
logreg.score(Xtest,ytest)

0.65

In [30]:
logreg.score(Xtrain,ytrain)

0.640625

In [31]:
##Xtrain,Xtest,Yrain,Ytest
Standard Scalar

SyntaxError: invalid syntax (Temp/ipykernel_3348/950139735.py, line 2)

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc=StandardScaler()

In [32]:
sc.fit(Xtrain)

NameError: name 'sc' is not defined

In [ ]:
Xtrain.sample()

In [ ]:
sc.mean_

In [33]:
Xtrain_sc=sc.transform(Xtrain)

NameError: name 'sc' is not defined

In [34]:
Xtest_sc=sc.transform(Xtest)

NameError: name 'sc' is not defined

In [35]:
Xtest_sc

NameError: name 'Xtest_sc' is not defined

In [36]:
from sklearn.linear_model import LogisticRegression

In [37]:
ajlog=LogisticRegression()

In [38]:
ajlog

LogisticRegression()

In [39]:
ajlog.fit(Xtrain_sc,ytrain)

NameError: name 'Xtrain_sc' is not defined

In [40]:
ajlog.score(Xtest_sc,ytest)

NameError: name 'Xtest_sc' is not defined

In [41]:
##Normalization

In [42]:
from sklearn.preprocessing import MinMaxScaler

In [43]:
norm=MinMaxScaler()

In [44]:
norm.fit(Xtrain)

MinMaxScaler()

In [45]:
norm.transform(Xtrain)

array([[0.23809524, 0.32592593],
       [0.71428571, 0.14814815],
       [0.78571429, 0.97037037],
       [0.80952381, 0.04444444],
       [0.21428571, 0.51111111],
       [0.97619048, 0.85185185],
       [0.69047619, 0.68148148],
       [0.5       , 0.2       ],
       [0.07142857, 0.00740741],
       [0.38095238, 0.42222222],
       [0.14285714, 0.02962963],
       [0.45238095, 0.34814815],
       [0.61904762, 0.91851852],
       [0.73809524, 0.54814815],
       [0.80952381, 0.91111111],
       [0.16666667, 0.55555556],
       [0.92857143, 0.33333333],
       [0.14285714, 0.05925926],
       [0.54761905, 0.22222222],
       [0.0952381 , 0.35555556],
       [0.4047619 , 0.54074074],
       [0.4047619 , 0.34074074],
       [0.42857143, 0.76296296],
       [0.04761905, 0.4962963 ],
       [0.21428571, 0.03703704],
       [0.42857143, 0.82222222],
       [0.57142857, 0.48148148],
       [0.4047619 , 0.17037037],
       [0.30952381, 0.39259259],
       [0.54761905, 0.47407407],
       [0.4047619 , 0.42222222],
       [0.42857143, 0.44444444],
       [0.71428571, 0.13333333],
       [0.57142857, 0.37037037],
       [0.23809524, 0.12592593],
       [0.02380952, 0.07407407],
       [0.83333333, 0.65925926],
       [0.04761905, 0.52592593],
       [0.66666667, 0.05185185],
       [0.4047619 , 0.33333333],
       [0.14285714, 0.54814815],
       [1.        , 0.2       ],
       [0.52380952, 0.44444444],
       [0.42857143, 0.13333333],
       [0.9047619 , 0.65925926],
       [0.95238095, 0.59259259],
       [0.54761905, 0.41481481],
       [0.85714286, 0.40740741],
       [0.4047619 , 0.23703704],
       [0.4047619 , 0.25925926],
       [0.57142857, 0.55555556],
       [0.45238095, 0.43703704],
       [0.88095238, 0.81481481],
       [0.71428571, 0.13333333],
       [0.47619048, 0.41481481],
       [0.71428571, 0.91111111],
       [0.45238095, 0.31111111],
       [0.26190476, 0.20740741],
       [0.19047619, 0.        ],
       [0.42857143, 0.33333333],
       [0.14285714, 0.31851852],
       [0.42857143, 0.95555556],
       [0.07142857, 0.39259259],
       [0.30952381, 0.76296296],
       [0.66666667, 0.32592593],
       [0.4047619 , 0.05185185],
       [0.66666667, 0.4962963 ],
       [0.26190476, 0.34074074],
       [1.        , 0.64444444],
       [0.47619048, 0.41481481],
       [0.30952381, 0.41481481],
       [0.45238095, 0.48148148],
       [0.14285714, 0.51111111],
       [0.33333333, 0.88888889],
       [0.97619048, 0.5037037 ],
       [0.66666667, 0.43703704],
       [0.42857143, 0.28888889],
       [0.57142857, 0.28888889],
       [0.52380952, 0.31111111],
       [0.95238095, 0.23703704],
       [0.04761905, 0.4962963 ],
       [0.11904762, 0.35555556],
       [0.23809524, 0.16296296],
       [0.04761905, 0.05925926],
       [0.21428571, 0.54814815],
       [0.83333333, 0.14074074],
       [0.21428571, 0.6       ],
       [0.69047619, 0.03703704],
       [0.52380952, 0.42222222],
       [0.4047619 , 0.25925926],
       [0.26190476, 0.5037037 ],
       [0.4047619 , 0.08888889],
       [0.45238095, 0.13333333],
       [0.57142857, 0.44444444],
       [0.4047619 , 0.60740741],
       [0.        , 0.4962963 ],
       [0.5       , 0.79259259],
       [0.4047619 , 0.45925926],
       [0.88095238, 0.85185185],
       [0.57142857, 0.42962963],
       [0.71428571, 0.11111111],
       [0.4047619 , 0.42222222],
       [0.16666667, 0.13333333],
       [0.69047619, 0.72592593],
       [0.69047619, 0.07407407],
       [0.47619048, 0.34074074],
       [0.11904762, 0.4962963 ],
       [0.04761905, 0.15555556],
       [0.85714286, 0.65925926],
       [0.26190476, 0.48148148],
       [0.33333333, 0.62962963],
       [0.5       , 0.88148148],
       [0.66666667, 0.19259259],
       [0.02380952, 0.45185185],
       [0.57142857, 0.36296296],
       [0.57142857, 0.40740741],
       [0.21428571, 0.01481481],
       [0.4047619 , 0.44444444],
       [0.23809524, 0.51111111],
       [0.4047619 , 0.07407407],
       [0.95238095, 0.17037037],
       [0.5952381 , 0.87407407],
       [0.66666667, 0.6       ],
       [0.54761905, 0.32592593],
       [0.71428571, 0.77037037],
       [0.33333333, 1.        ],
       [0.21428571, 0.9037037 ],
       [0.26190476, 0.23703704],
       [0.42857143, 0.35555556],
       [0.14285714, 0.2962963 ],
       [0.30952381, 0.43703704],
       [0.19047619, 0.48888889],
       [0.54761905, 0.27407407],
       [0.5       , 0.45925926],
       [0.4047619 , 0.28148148],
       [0.64285714, 0.85925926],
       [0.5       , 0.88148148],
       [0.30952381, 0.14074074],
       [0.69047619, 0.25925926],
       [0.52380952, 0.68148148],
       [0.47619048, 0.26666667],
       [0.28571429, 0.88888889],
       [0.97619048, 0.45185185],
       [0.19047619, 0.00740741],
       [0.28571429, 0.74814815],
       [0.21428571, 0.11851852],
       [0.30952381, 0.02222222],
       [0.45238095, 0.28148148],
       [0.        , 0.27407407],
       [0.69047619, 0.14074074],
       [0.5       , 0.42962963],
       [0.26190476, 0.44444444],
       [0.54761905, 0.53333333],
       [0.5       , 0.2       ],
       [0.28571429, 0.68148148],
       [0.57142857, 0.28888889],
       [0.19047619, 0.76296296],
       [0.78571429, 0.88148148],
       [0.45238095, 0.46666667],
       [0.21428571, 0.31851852],
       [0.38095238, 0.74074074],
       [0.26190476, 0.0962963 ],
       [0.35714286, 0.33333333],
       [0.73809524, 0.43703704],
       [0.11904762, 0.37777778],
       [0.02380952, 0.02962963],
       [0.42857143, 0.25925926],
       [0.54761905, 0.33333333],
       [0.97619048, 0.94814815],
       [0.45238095, 0.27407407],
       [0.19047619, 0.01481481],
       [0.11904762, 0.03703704],
       [0.64285714, 0.05185185],
       [0.30952381, 0.        ],
       [0.11904762, 0.24444444],
       [0.45238095, 0.97037037],
       [0.14285714, 0.2962963 ],
       [0.02380952, 0.04444444],
       [0.69047619, 0.20740741],
       [0.47619048, 0.71851852],
       [0.35714286, 0.19259259],
       [0.47619048, 0.32592593],
       [0.52380952, 0.41481481],
       [0.73809524, 0.0962963 ],
       [0.30952381, 0.54814815],
       [0.4047619 , 0.31111111],
       [0.52380952, 0.31111111],
       [0.16666667, 0.47407407],
       [0.35714286, 0.0962963 ],
       [0.73809524, 0.15555556],
       [0.35714286, 0.26666667],
       [0.4047619 , 0.05925926],
       [0.83333333, 0.42222222],
       [0.30952381, 0.45185185],
       [0.69047619, 0.95555556],
       [0.71428571, 0.43703704],
       [0.28571429, 0.47407407],
       [0.        , 0.52592593],
       [0.23809524, 0.47407407],
       [0.21428571, 0.31111111],
       [0.5       , 0.41481481],
       [0.21428571, 0.31851852],
       [0.47619048, 0.34074074],
       [0.73809524, 0.52592593],
       [0.52380952, 0.46666667],
       [0.42857143, 0.27407407],
       [0.5       , 0.47407407],
       [0.4047619 , 0.03703704],
       [0.76190476, 0.54074074],
       [0.97619048, 0.2       ],
       [0.73809524, 0.54074074],
       [0.64285714, 0.12592593],
       [0.28571429, 0.34814815],
       [0.54761905, 0.42222222],
       [0.02380952, 0.40740741],
       [0.69047619, 0.66666667],
       [0.45238095, 0.40740741],
       [0.71428571, 0.85925926],
       [0.66666667, 0.75555556],
       [0.        , 0.21481481],
       [0.28571429, 0.25185185],
       [0.9047619 , 0.33333333],
       [0.19047619, 0.48148148],
       [0.57142857, 0.28148148],
       [0.88095238, 0.17777778],
       [0.73809524, 0.93333333],
       [0.35714286, 0.72592593],
       [0.38095238, 0.07407407],
       [0.4047619 , 0.41481481],
       [0.19047619, 0.20740741],
       [0.76190476, 0.15555556],
       [1.        , 0.5037037 ],
       [0.02380952, 0.51851852],
       [0.38095238, 0.20740741],
       [0.71428571, 0.55555556],
       [0.42857143, 0.62222222],
       [0.69047619, 0.05925926],
       [0.19047619, 0.52592593],
       [0.52380952, 0.31111111],
       [0.19047619, 0.42222222],
       [0.92857143, 0.08148148],
       [0.57142857, 0.65925926],
       [0.47619048, 0.37037037],
       [0.0952381 , 0.2962963 ],
       [0.45238095, 0.41481481],
       [1.        , 0.2       ],
       [0.57142857, 0.48148148],
       [0.5       , 0.67407407],
       [0.4047619 , 0.32592593],
       [0.52380952, 0.37037037],
       [0.45238095, 0.57777778],
       [0.73809524, 0.0962963 ],
       [0.4047619 , 0.2962963 ],
       [0.19047619, 0.14814815],
       [0.66666667, 0.54074074],
       [0.5952381 , 0.84444444],
       [0.33333333, 0.52592593],
       [0.47619048, 0.2962963 ],
       [0.92857143, 0.79259259],
       [0.92857143, 0.13333333],
       [0.4047619 , 0.37037037],
       [0.54761905, 0.27407407],
       [1.        , 0.14074074],
       [0.35714286, 0.11851852],
       [0.69047619, 0.25185185],
       [0.66666667, 0.05925926],
       [0.11904762, 0.0962963 ],
       [0.19047619, 0.48148148],
       [0.52380952, 0.33333333],
       [0.52380952, 0.34074074],
       [0.4047619 , 0.56296296],
       [1.        , 0.68888889],
       [0.28571429, 0.54814815],
       [0.64285714, 0.47407407],
       [0.71428571, 0.93333333],
       [0.80952381, 0.17037037],
       [0.07142857, 0.54074074],
       [0.52380952, 0.32592593],
       [0.45238095, 0.44444444],
       [0.69047619, 0.23703704],
       [0.45238095, 0.2962963 ],
       [0.66666667, 0.0962963 ],
       [0.92857143, 0.43703704],
       [0.26190476, 0.5037037 ],
       [0.54761905, 0.11111111],
       [0.42857143, 0.81481481],
       [0.0952381 , 0.48888889],
       [0.9047619 , 0.87407407],
       [0.45238095, 0.95555556],
       [0.45238095, 0.48148148],
       [0.97619048, 0.54074074],
       [0.04761905, 0.25185185],
       [0.0952381 , 0.08888889],
       [0.64285714, 0.05185185],
       [0.33333333, 0.75555556],
       [0.33333333, 0.02222222],
       [0.4047619 , 0.68888889],
       [0.69047619, 0.11111111],
       [0.61904762, 0.17777778],
       [0.54761905, 0.42222222],
       [0.52380952, 0.44444444],
       [0.71428571, 0.1037037 ],
       [0.85714286, 0.08148148],
       [0.85714286, 0.68888889],
       [0.69047619, 0.26666667],
       [0.45238095, 0.9037037 ],
       [0.23809524, 0.2962963 ],
       [0.71428571, 0.88148148],
       [0.16666667, 0.05185185],
       [0.54761905, 0.35555556],
       [0.16666667, 0.53333333],
       [0.80952381, 0.73333333],
       [0.5       , 0.32592593],
       [0.19047619, 0.11111111],
       [0.57142857, 0.99259259],
       [0.5       , 0.44444444],
       [0.64285714, 0.08148148],
       [0.23809524, 0.21481481],
       [0.5       , 0.34074074],
       [0.33333333, 0.77777778]])

In [46]:
norm.transform(Xtest)

array([[0.38095238, 0.71851852],
       [0.83333333, 0.4962963 ],
       [0.28571429, 0.01481481],
       [0.26190476, 0.98518519],
       [0.66666667, 0.12592593],
       [0.28571429, 0.53333333],
       [0.78571429, 0.05925926],
       [0.83333333, 0.94814815],
       [0.4047619 , 0.42962963],
       [0.80952381, 1.        ],
       [0.5       , 0.6       ],
       [0.35714286, 0.4       ],
       [0.95238095, 0.63703704],
       [0.97619048, 0.1037037 ],
       [0.4047619 , 0.21481481],
       [0.26190476, 0.20740741],
       [0.4047619 , 0.17777778],
       [0.23809524, 0.54814815],
       [0.5       , 0.41481481],
       [0.4047619 , 0.31851852],
       [0.02380952, 0.08148148],
       [0.19047619, 0.        ],
       [0.54761905, 0.48148148],
       [0.73809524, 0.37037037],
       [0.47619048, 0.25925926],
       [0.04761905, 0.43703704],
       [0.23809524, 0.8       ],
       [0.33333333, 0.02222222],
       [0.64285714, 0.22222222],
       [0.21428571, 0.55555556],
       [0.52380952, 0.23703704],
       [0.21428571, 0.28888889],
       [0.28571429, 0.        ],
       [0.54761905, 0.42222222],
       [0.45238095, 0.42222222],
       [0.19047619, 0.12592593],
       [0.80952381, 0.55555556],
       [0.76190476, 0.03703704],
       [0.14285714, 0.08888889],
       [0.19047619, 0.27407407],
       [0.        , 0.39259259],
       [0.14285714, 0.12592593],
       [0.54761905, 0.42222222],
       [0.45238095, 0.45925926],
       [0.71428571, 0.19259259],
       [0.07142857, 0.42222222],
       [0.0952381 , 0.02222222],
       [0.57142857, 0.37037037],
       [0.16666667, 0.48148148],
       [0.28571429, 0.48148148],
       [0.38095238, 0.20740741],
       [0.23809524, 0.51851852],
       [0.4047619 , 0.44444444],
       [0.19047619, 0.51111111],
       [0.95238095, 0.95555556],
       [0.76190476, 0.21481481],
       [0.52380952, 0.94074074],
       [0.4047619 , 0.47407407],
       [0.57142857, 0.47407407],
       [0.5952381 , 0.71851852],
       [0.30952381, 0.37777778],
       [0.54761905, 0.26666667],
       [1.        , 0.22962963],
       [0.21428571, 0.54074074],
       [0.35714286, 0.99259259],
       [0.23809524, 0.53333333],
       [0.35714286, 0.20740741],
       [0.57142857, 0.68888889],
       [0.23809524, 0.32592593],
       [0.95238095, 0.05925926],
       [0.45238095, 0.47407407],
       [0.47619048, 0.25925926],
       [0.4047619 , 0.97777778],
       [0.47619048, 0.72592593],
       [0.66666667, 0.47407407],
       [0.73809524, 0.17777778],
       [0.33333333, 0.75555556],
       [0.47619048, 0.48148148],
       [0.30952381, 0.31851852],
       [0.71428571, 0.6       ]])

In [62]:
from sklearn.linear_model import LinearRegression

In [63]:
lreg=LinearRegression()

In [64]:
lreg.fit(Xtrain,ytrain)

LinearRegression()

In [65]:
lreg.score(Xtest,ytest)

0.5110578130922332

In [66]:
Xtrain.head()

     Age  EstimatedSalary
101   28            59000
389   48            35000
245   51           146000
283   52            21000
6     27            84000

In [67]:
lreg.predict([[52,21000]])

array([[0.55490235]])

In [68]:
lreg.predict([[48,35000]])

array([[0.50070923]])

In [70]:
from sklearn.svm import SVC

In [71]:
svm=SVC()

In [72]:
svm.fit(Xtrain,ytrain)

E:\python\MSSQL15.MSSQLSERVER\anaconda\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

SVC()

In [73]:
svm.score(Xtest,ytest)

0.8

In [74]:
from sklearn.linear_model import LogisticRegression

In [76]:
logreg=LogisticRegression()

In [77]:
logreg.fit(Xtrain,ytrain)

E:\python\MSSQL15.MSSQLSERVER\anaconda\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()

In [78]:
logreg.score(Xtest,ytest)

0.65

In [79]:
from sklearn.preprocessing import StandardScaler

In [81]:
ss=StandardScaler()

In [82]:
ss.fit(Xtrain)

StandardScaler()

In [83]:
Xtrain_ss=ss.transform(Xtrain)

In [84]:
Xtest=ss.transform(Xtest)

In [85]:
from sklearn.linear_model import LogisticRegression

In [87]:
logreg1=LogisticRegression()

In [88]:
logreg1.fit(Xtrain_ss,ytrain)

E:\python\MSSQL15.MSSQLSERVER\anaconda\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()