In [1]:
import pandas as pd
import numpy as np

In [3]:
dfgold=pd.read_csv("C:\\Users\\Hello\\Desktop\\Dataset\\gld_price_data.csv")

In [4]:
dfgold

           Date          SPX         GLD        USO      SLV   EUR/USD
0      1/2/2008  1447.160034   84.860001  78.470001  15.1800  1.471692
1      1/3/2008  1447.160034   85.570000  78.370003  15.2850  1.474491
2      1/4/2008  1411.630005   85.129997  77.309998  15.1670  1.475492
3      1/7/2008  1416.180054   84.769997  75.500000  15.0530  1.468299
4      1/8/2008  1390.189941   86.779999  76.059998  15.5900  1.557099
...         ...          ...         ...        ...      ...       ...
2285   5/8/2018  2671.919922  124.589996  14.060000  15.5100  1.186789
2286   5/9/2018  2697.790039  124.330002  14.370000  15.5300  1.184722
2287  5/10/2018  2723.070068  125.180000  14.410000  15.7400  1.191753
2288  5/14/2018  2730.129883  124.489998  14.380000  15.5600  1.193118
2289  5/16/2018  2725.780029  122.543800  14.405800  15.4542  1.182033

[2290 rows x 6 columns]

In [8]:
dfgold.head()

       Date          SPX        GLD        USO     SLV   EUR/USD
0  1/2/2008  1447.160034  84.860001  78.470001  15.180  1.471692
1  1/3/2008  1447.160034  85.570000  78.370003  15.285  1.474491
2  1/4/2008  1411.630005  85.129997  77.309998  15.167  1.475492
3  1/7/2008  1416.180054  84.769997  75.500000  15.053  1.468299
4  1/8/2008  1390.189941  86.779999  76.059998  15.590  1.557099

In [9]:
dfgold.isnull().sum()

Date       0
SPX        0
GLD        0
USO        0
SLV        0
EUR/USD    0
dtype: int64

In [10]:
dfgold.head()

       Date          SPX        GLD        USO     SLV   EUR/USD
0  1/2/2008  1447.160034  84.860001  78.470001  15.180  1.471692
1  1/3/2008  1447.160034  85.570000  78.370003  15.285  1.474491
2  1/4/2008  1411.630005  85.129997  77.309998  15.167  1.475492
3  1/7/2008  1416.180054  84.769997  75.500000  15.053  1.468299
4  1/8/2008  1390.189941  86.779999  76.059998  15.590  1.557099

In [16]:
dfgold.drop("Date",axis=1,inplace=True)

In [17]:
dfgold

              SPX         GLD        USO      SLV   EUR/USD
0     1447.160034   84.860001  78.470001  15.1800  1.471692
1     1447.160034   85.570000  78.370003  15.2850  1.474491
2     1411.630005   85.129997  77.309998  15.1670  1.475492
3     1416.180054   84.769997  75.500000  15.0530  1.468299
4     1390.189941   86.779999  76.059998  15.5900  1.557099
...           ...         ...        ...      ...       ...
2285  2671.919922  124.589996  14.060000  15.5100  1.186789
2286  2697.790039  124.330002  14.370000  15.5300  1.184722
2287  2723.070068  125.180000  14.410000  15.7400  1.191753
2288  2730.129883  124.489998  14.380000  15.5600  1.193118
2289  2725.780029  122.543800  14.405800  15.4542  1.182033

[2290 rows x 5 columns]

In [18]:
dfgold.head()

           SPX        GLD        USO     SLV   EUR/USD
0  1447.160034  84.860001  78.470001  15.180  1.471692
1  1447.160034  85.570000  78.370003  15.285  1.474491
2  1411.630005  85.129997  77.309998  15.167  1.475492
3  1416.180054  84.769997  75.500000  15.053  1.468299
4  1390.189941  86.779999  76.059998  15.590  1.557099

In [19]:
X=dfgold.drop("EUR/USD",axis=1)

In [21]:
X.head()

           SPX        GLD        USO     SLV
0  1447.160034  84.860001  78.470001  15.180
1  1447.160034  85.570000  78.370003  15.285
2  1411.630005  85.129997  77.309998  15.167
3  1416.180054  84.769997  75.500000  15.053
4  1390.189941  86.779999  76.059998  15.590

In [22]:
y=dfgold["EUR/USD"]

In [23]:
y

0       1.471692
1       1.474491
2       1.475492
3       1.468299
4       1.557099
          ...
2285    1.186789
2286    1.184722
2287    1.191753
2288    1.193118
2289    1.182033
Name: EUR/USD, Length: 2290, dtype: float64

In [24]:
from sklearn.model_selection import train_test_split

In [27]:
Xtrain,Xtest,ytrain,ytest=train_test_split(X,y,test_size=.20)

In [28]:
Xtrain.shape,Xtest.shape,ytrain.shape,ytest.shape

((1832, 4), (458, 4), (1832,), (458,))

In [29]:
X.shape

(2290, 4)

In [30]:
y.shape

(2290,)

In [38]:
#Feature scalling ---standard-scaler

In [39]:
from sklearn.preprocessing import StandardScaler

In [40]:
ss=StandardScaler()

In [41]:
ss.fit(Xtrain)

StandardScaler()

In [43]:
Xtrain_ss=ss.transform(Xtrain)

In [44]:
Xtest_ss=ss.transform(Xtest)

In [45]:
Xtrain

              SPX         GLD         USO        SLV
2069  2394.439941  116.500000    9.940000  15.450000
98    1358.439941   85.550003  107.019997  16.440001
198    913.179993   84.459999   36.439999  11.030000
1393  1869.430054  124.879997   36.709999  18.850000
1842  2063.370117  122.959999   10.740000  16.570000
...           ...         ...         ...        ...
1707  1995.829956  109.699997   15.570000  15.290000
1046  1432.839966  171.320007   34.290001  32.900002
622   1197.750000  132.419998   36.500000  24.930000
1993  2274.639893  114.209999   11.410000  15.940000
1065  1355.489990  167.139999   31.770000  31.639999

[1832 rows x 4 columns]

In [46]:
Xtrain_ss

array([[ 1.44796253e+00, -2.68705685e-01, -1.13042645e+00,
        -6.54336882e-01],
       [-5.64314716e-01, -1.60113707e+00,  3.90805104e+00,
        -5.13687811e-01],
       [-1.42916651e+00, -1.64806294e+00,  2.44930503e-01,
        -1.28228462e+00],
       ...,
       [-8.76431233e-01,  4.16667723e-01,  2.48044571e-01,
         6.92483160e-01],
       [ 1.21526860e+00, -3.67292744e-01, -1.05413306e+00,
        -5.84722765e-01],
       [-5.70044560e-01,  1.91140192e+00,  2.55632119e-03,
         1.64577020e+00]])

In [31]:
from sklearn.linear_model import LinearRegression

In [34]:
lreg=LinearRegression()

In [35]:
lreg

LinearRegression()

In [36]:
lreg.fit(Xtrain,ytrain)

LinearRegression()

In [48]:
lreg.score(Xtest,ytest)

0.7663369388732048

In [49]:
#creating second object for scaled values

In [52]:
lreg1=LinearRegression()

In [53]:
lreg1

LinearRegression()

In [54]:
lreg1.fit(Xtrain_ss,ytrain)

LinearRegression()

In [55]:
lreg1.score(Xtest_ss,ytest)

0.7663369388732046