In [1]:
import pandas as pd
import numpy as np

In [3]:
df1=pd.read_csv("C:\\Users\\Hello\\Desktop\\Dataset\\floatpoints.csv")

In [4]:
df1

   cgpa  package
0  6.38     3.67
1  5.55     9.76
2  8.90     5.67
3  5.76     4.34
4  7.65     6.45
5  6.87     6.76
6  4.67     5.34
7  6.90     6.89
8  8.87     8.98
9  6.79     7.45

In [5]:
df1.isnull().sum()

cgpa       0
package    0
dtype: int64

In [6]:
X=df1[["cgpa"]]

In [8]:
X.head()

   cgpa
0  6.38
1  5.55
2  8.90
3  5.76
4  7.65

In [9]:
y=df1["package"]

In [10]:
y

0    3.67
1    9.76
2    5.67
3    4.34
4    6.45
5    6.76
6    5.34
7    6.89
8    8.98
9    7.45
Name: package, dtype: float64

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
Xtrain,Xtest,ytrain,ytest=train_test_split(X,y,test_size=0.20)

In [13]:
Xtrain.shape

(8, 1)

In [15]:
X.shape

(10, 1)

In [16]:
ytrain.shape

(8,)

In [17]:
y.shape

(10,)

In [18]:
Xtest.shape

(2, 1)

In [19]:
ytest.shape

(2,)

In [20]:
from sklearn.linear_model import LinearRegression

In [23]:
lreg=LinearRegression()

In [24]:
lreg.fit(Xtrain,ytrain)

LinearRegression()

In [25]:
lreg.score(Xtest,ytest)

-3.85534526914201

In [30]:
ytrain_predict=lreg.predict(Xtrain)

In [32]:
from sklearn import metrics

In [33]:
metrics.r2_score(ytrain,ytrain_predict)

0.3177243182736045